@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);}
  
      .router-link-active {
        background-color:rgb(0, 135, 71);
      }

      .navbar-nav.navbar-center li a {
        color: #ffffff;
    }

    li { cursor: pointer; }

  }