<app-search></app-search>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="dropdown">
                <button class="btn btn btn" type="button" data-toggle="dropdown">Top12 <span class="caret"></span></button>
                <button type="button" class="btn btn">Legújabb</button>
                <ul class="dropdown-menu">
                    <li><a href="#">Színház</a></li>
                    <li><a href="#">Koncert</a></li>
                    <li><a href="#">Kiállítás</a></li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<br>

<app-events></app-events>

