<!-- <div class="col-sm-8">
  <div class="list-group">
      <div class="list-group-item">
          <p class="list-group-item-heading">Imsertető: </p>
          <p class="list-group-item-text">Gájer Bálint neve mindenki számára jól ismert, hiszen Ő az ország "swing hercege” aki minden embert táncra perdít zenéjével és kitűnik eleganciájával. A fiatal tehetség, nagyszerű énekes és zenész, akit a rajongók és a szakma is elismer. A magyar "Swing'n Pop" zenei stílus meghonosítója és vezéralakja. Karácsonyi nagylemezén szereplő dalaiból ad koncertet Gájer Bálint december 21-én a MOM Sport Rendezvényközpontban. Várhatóan november közepén jelenik majd meg az énekes karácsonyi nagylemeze, előreláthatóan több mint egy tucat dallal, melyek kivétel nélkül elhangzanak majd a nagykoncerten. A híres amerikai karácsonyi dalok magyar nyelven lesznek hallhatóak. A húsz vonós és a zenész tíztagú zenekara által játszott dalokban fellelhetők lesznek Dean Martin, Bing Crosby, Frank Sinatra és Michael Bublé stílusjegyei is. A koncert, Csondor Kata színész, énekesnővel, a Fool Moon vokál együttessel és meglepetésvendéggel egészül ki.</p>

          <br>
          <p>Időpont:</p>
          <p class="list-group-item-text"><strong>DEC 21. CSÜTÖRTÖK, 19:30</strong></p>
      </div>

      <app-tickettypes></app-tickettypes>
</div> -->

<div class="col-sm-8">
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-heading">Imsertető: </p>
                <p class="list-group-item-text">{{selectedItem.description}}</p>
      
                <br>
                <p>Időpont:</p>
                <p class="list-group-item-text"><strong>{{selectedItem.time}}</strong></p>
            </div>
      
        <app-tickettypes [selectedItem]="selectedItem" [ticketsNumber]="selectedItem.ticketPrice.length" [selectedItemType]="selectedItem.eventType"></app-tickettypes>
    </div>
</div>