<em><strong>Jegytípusok</strong></em>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Valahany jegytipus</a>
        <div class="pull-right"><a data-toggle="collapse" href="#collapse1">Min-Max forint</a></div>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Jegytípus
      <div class="pull-right">{{selectedItem.ticketPrice}}</div>
      </div>
      <div class="panel-body">Jegytípus
      <div class="pull-right">{{selectedItem.ticketPrice}}</div>
      </div>
      <div class="panel-body">Jegytípus
      <div class="pull-right">{{selectedItem.ticketPrice}}</div>
      </div>
      <div class="panel-body">Jegytípus
      <div class="pull-right">{{selectedItem.ticketPrice}}</div>
      </div>

    </div>
  </div>
  <br>
  <br>
  <button class="btn btn-primary" (click)="changePath()">Jegyvásárlás</button>
</div>