<div class="container-fluid">
  <div class="col-sm-4">
  </div>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="col-sm-4">

          <div class="form-group">
              <label for="picture">Kép címe(html):</label>
              <input type="text" class="form-control" id="picture" [(ngModel)]="selectedEvent.imagePath" name="picture" required>
          </div>

          <div id="event-info" ngModelGroup="eventInfo" #eventInfo="ngModelGroup">

              <div class="form-group">
                  <label for="eventTitle">Esemény neve:</label>
                  <input type="text" class="form-control" id="eventTitle" [(ngModel)]="selectedEvent.title" name="eventTitle" required>
              </div>

              <div class="form-group">
                <label for="eventType">Esemény típusa:</label>
                <select class="form-control" id="eventType" [ngModel]="selectedEvent.eventType" name="eventType" required>
                <option value="Színház">Színház</option>
                <option value="Koncert">Koncert</option>
                <option value="Kiállítás">Kiállítás</option>
                <option value="Mozi">Mozi</option>
                <option value="Cirkusz">Cirkusz</option>
            </select>
            </div>

              <div class="form-group">
                  <label for="description">Esemény leírása:</label>
                  <textarea class="form-control" rows="5" id="description" [(ngModel)]="selectedEvent.description" name="description" required></textarea>
              </div>
              <!-- <p *ngIf="!eventInfo.valid">Event input is invalid!</p>  -->
          </div>

          <div id="event-location" ngModelGroup="eventLocation" #eventLocation="ngModelGroup">
            <div class="form-group">
                <label for="town">Város:</label>
                <select class="form-control" id="town" [ngModel]="selectedEvent.town" name="town" required>
                <option value="Budapest">Budapest</option>
                <option value="Debrecen">Debrecen</option>
                <option value="Eger">Eger</option>
                <option value="Miskolc">Miskolc</option>
                <option value="Szeged">Szeged</option>
                <option value="Győr">Győr</option>
            </select>
            </div>

              <div class="form-group">
                  <label for="eventAdress">Esemény helye:</label>
                  <input type="text" class="form-control" id="eventAdress" [(ngModel)]="selectedEvent.address" name="eventAdress" required>
              </div>

              <div>
                  <label for="eventTime">Esemény időpontja:</label>
                  <span style="padding-left: 20px"></span>
                  <input type="datetime-local" id="eventTime" name="eventTime" min="2017-06-01T08:30" max="2017-06-30T16:30" [(ngModel)]="selectedEvent.time" name="eventTime"
                      required>
              </div>

          </div>

          <div id="ticket-info" ngModelGroup="ticketInfo" #ticketInfo="ngModelGroup">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="ticketType">Jegy típus:</label>
                          <input type="text" class="form-control" id="ticketType" [(ngModel)]="selectedEvent.ticketType" name="ticketType" required>
                          <div [ngSwitch]="requiredRow">
                              <input *ngSwitchCase="2" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                              <input *ngSwitchCase="3" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                              <input *ngSwitchCase="3" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType4" ngModel name="ticketType4" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType4" ngModel name="ticketType4" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType5" ngModel name="ticketType5" required>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="ticketPrice">Jegy ár:</label>
                          <input type="text" class="form-control" id="ticketPrice" [(ngModel)]="selectedEvent.ticketPrice" name="ticketPrice" required>
                          <div [ngSwitch]="requiredRow">
                              <input *ngSwitchCase="2" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                              <input *ngSwitchCase="3" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                              <input *ngSwitchCase="3" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                              <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice4" ngModel name="ticketPrice4" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice4" ngModel name="ticketPrice4" required>
                              <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice5" ngModel name="ticketPrice5" required>
                          </div>
                      </div>
                  </div>
              </div>
              <button class="btn btn-success" type="submit" [disabled]="!f.valid">Rendben</button>
              <button class="btn btn-warning">Mégsem</button>
          </div>
      </div>
  </form>
  <div class="col-sm-2">
      <div style="padding-top: 576px; padding-left: 50px">
          <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Plusz sor <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li (click)="onPlusRow(1)"><a>1</a></li>
                  <li (click)="onPlusRow(2)"><a>2</a></li>
                  <li (click)="onPlusRow(3)"><a>3</a></li>
                  <li (click)="onPlusRow(4)"><a>4</a></li>
                  <li (click)="onPlusRow(5)"><a>5</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>