<em><strong>Jegytípusok</strong></em>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Valahany jegytipus</a>
        <div class="pull-right"><a data-toggle="collapse" href="#collapse1">Min-Max forint</a></div>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div [ngSwitch]="ticketsNumber">
          <div *ngSwitchCase="1">
              <div class="panel-body">{{selectedItem.ticketType[0]}} <span class="pull-right">{{selectedItem.ticketPrice[0]}}</span></div>
          </div>
          <div *ngSwitchCase="2">
              <div class="panel-body">{{selectedItem.ticketType[0]}} <span class="pull-right">{{selectedItem.ticketPrice[0]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[1]}} <span class="pull-right">{{selectedItem.ticketPrice[1]}}</span></div>
          </div>
          <div *ngSwitchCase="3">
              <div class="panel-body">{{selectedItem.ticketType[0]}} <span class="pull-right">{{selectedItem.ticketPrice[0]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[1]}} <span class="pull-right">{{selectedItem.ticketPrice[1]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[2]}} <span class="pull-right">{{selectedItem.ticketPrice[2]}}</span></div>
          </div>
          <div *ngSwitchCase="4">
              <div class="panel-body">{{selectedItem.ticketType[0]}} <span class="pull-right">{{selectedItem.ticketPrice[0]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[1]}} <span class="pull-right">{{selectedItem.ticketPrice[1]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[2]}} <span class="pull-right">{{selectedItem.ticketPrice[2]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[3]}} <span class="pull-right">{{selectedItem.ticketPrice[3]}}</span></div>
          </div>
          <div *ngSwitchCase="5">
              <div class="panel-body">{{selectedItem.ticketType[0]}} <span class="pull-right">{{selectedItem.ticketPrice[0]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[1]}} <span class="pull-right">{{selectedItem.ticketPrice[1]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[2]}} <span class="pull-right">{{selectedItem.ticketPrice[2]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[3]}} <span class="pull-right">{{selectedItem.ticketPrice[3]}}</span></div>
              <div class="panel-body">{{selectedItem.ticketType[4]}} <span class="pull-right">{{selectedItem.ticketPrice[4]}}</span></div>
          </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  
  <div *ngIf="user.permission === 'avarage'">
    <div *ngIf="selectedItemType === 'Mozi' || selectedItemType === 'Színház' || selectedItemType === 'Koncert' || selectedItemType === 'Cirkusz'"> 
      <button class="btn btn-primary" (click)="changePath()">Jegyvásárlás</button>
    </div>
  </div>

  <div *ngIf="user.permission === 'avarage'">
    <div *ngIf="selectedItemType === 'Kiállítás'"> 
      <button class="btn btn-primary" (click)="changeExhibitonBuyTicket()">Jegyvásárlás</button>
    </div>
  </div>

</div>