<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-5">
            </div>
            <canvas id="myCanvas" width="200" height="50" style="border:1px solid #000000; background-color: dimgray; ">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>
    </div>
</div>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row1>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 657px">
            </div>
            <div class="col-xs-8" style="padding-left: 657px">
                <div #row2>
                <!-- <div  style="display: inline"> -->
                    <canvas *ngFor="let i of eventTicketTest2" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;">
                    </canvas>
                <!-- </div> -->
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row3>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 685px">
            </div>
            <div class="col-xs-8" style="padding-left: 685px">
              <div #row4>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest3" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row5>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 685px">
            </div>
            <div class="col-xs-8" style="padding-left: 685px">
              <div #row6>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest3" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row7>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 685px">
            </div>
            <div class="col-xs-8" style="padding-left: 685px">
              <div #row8>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest3" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row9>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 657px">
            </div>
            <div class="col-xs-8" style="padding-left: 657px">
                <div #row10>
                <!-- <div  style="display: inline"> -->
                    <canvas *ngFor="let i of eventTicketTest2" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;">
                    </canvas>
                <!-- </div> -->
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row11>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 685px">
            </div>
            <div class="col-xs-8" style="padding-left: 685px">
              <div #row12>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest3" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 670px">
            </div>
            <div class="col-xs-8" style="padding-left: 670px">
              <div #row13>
              <!-- <div style="display: inline"> -->
                  <canvas *ngFor="let i of eventTicketTest" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;" (click)="Teszt()">
                  </canvas>
              <!-- </div>  -->
            </div> 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="padding-left: 657px">
            </div>
            <div class="col-xs-8" style="padding-left: 657px">
                <div #row14>
                <!-- <div  style="display: inline"> -->
                    <canvas *ngFor="let i of eventTicketTest2" width="20" height="20" style="border:1px solid #000000; background-color: dimgray;">
                    </canvas>
                <!-- </div> -->
              </div>
            </div>
        </div>
    </div>
</div>