<div class="col-sm-2">
  <div class="list-group">
          <p class="list-group-item-heading">Legutóbbi keresések </p>
          <a class="list-group-item">
              <img src="{{ selectedItems[0].imagePath}}" alt="valami" class="list-group-item-heading" width="250" height="150">
              <p class="list-group-item-text"><strong>{{ selectedItems[0].title }}</strong></p>
              <p class="list-group-item-text" style="width: 250px;height: 80px; overflow: hidden;">{{selectedItems[0].description}}</p>
          </a>
          <a class="list-group-item">
              <img src="{{ selectedItems[1].imagePath}}" alt="valami" class="list-group-item-heading" width="250" height="150">
              <p class="list-group-item-text"><strong>{{selectedItems[1].title}}</strong></p>
              <p class="list-group-item-text" style="width: 250px;height: 80px; overflow: hidden;">{{selectedItems[1].description}}</p>
          </a>
          <a class="list-group-item">
              <img src="{{ selectedItems[2].imagePath }}" alt="valami" class="list-group-item-heading" width="250" height="150">
              <p class="list-group-item-text"><strong>{{selectedItems[2].title}}</strong></p>
              <p class="list-group-item-text" style="width: 250px;height: 80px; overflow: hidden;">{{selectedItems[2].description}}</p>
          </a>
  </div>
</div>