<div class="container-fluid">
  <div class="col-sm-9" style="padding-top: 100px">
      <div class="pull-right">
          <h1>Köszönjük a foglalást! Kellemes időtöltést kívánunk!</h1>
          <br>
          <p style="font-size: 20px">A lefoglalt jegyekről és az előadás részleteiről tájékoztatót küldünk az email címére. </p>
          <br>
          <p style="font-size: 20px">Jegyek osszege: {{eventTicketPrice}}</p>
          <br>
          <p style="font-size: 20px">A jegy(ek) a pénztárnál vehetők át.</p>
          <br>
          <button class="btn btn-primary" (click)="backToHome()">Vissza a főoldalra</button>
      </div>
     
  </div>               
</div>