<div class="container-fluid">
    <div class="col-sm-4">
    </div>
        <div class="col-sm-4">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
                <label for="picture">Kép címe(html):</label>
                <input type="text" class="form-control" id="picture" ngModel name="picture" required>
            </div>

            <div id="event-info" ngModelGroup="eventInfo" #eventInfo="ngModelGroup">

                <div class="form-group">
                    <label for="eventTitle">Esemény neve:</label>
                    <input type="text" class="form-control" id="eventTitle" ngModel name="eventTitle" required>
                </div>

                <div class="form-group">
                    <label for="eventType">Esemény típusa:</label>
                    <select (change)="onChange($event.target.value)" class="form-control" id="eventType" [ngModel]="defaultEventType" name="eventType" required>
                        <option value="Színház">Színház</option>
                        <option value="Koncert">Koncert</option>
                        <option value="Kiállítás">Kiállítás</option>
                        <option value="Mozi">Mozi</option>
                        <option value="Cirkusz">Cirkusz</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="eventGenre">Esemény műfaja:</label>
                    <select class="form-control" id="eventGenre" [ngModel]="eventGenre" name="eventGenre" required>
                        <option *ngIf="szinhaz === true" value="Vígszínház">Vígszínház</option>
                        <option *ngIf="szinhaz === true" value="Opera">Opera</option>
                        <option *ngIf="szinhaz === true" value="Musical">Musical</option>
                        <option *ngIf="szinhaz === true" value="Dráma">Dráma</option>
                        <option *ngIf="szinhaz === true" value="Balett">Balett</option>

                        <option *ngIf="koncert === true" value="Pop">Pop</option>
                        <option *ngIf="koncert === true" value="Rock">Rock</option>
                        <option *ngIf="koncert === true" value="Hip-hop">Hip-hop</option>
                        <option *ngIf="koncert === true" value="Komoly">Komoly</option>
                        <option *ngIf="koncert === true" value="Elektro">Elektro</option>
                        
                        <option *ngIf="mozi === true" value="Vígjáték">Vígjáték</option>
                        <option *ngIf="mozi === true" value="Akció">Akció</option>
                        <option *ngIf="mozi === true" value="Animáció">Animáció</option>
                        <option *ngIf="mozi === true" value="Horror">Horror</option>
                        <option *ngIf="mozi === true" value="Romantikus">Romantikus</option>
                        <option *ngIf="mozi === true" value="Krimi">Krimi</option>

                        <option *ngIf="kiallitas === true" value="Történelmi">Történelmi</option>
                        <option *ngIf="kiallitas === true" value="Szépművészeti">Szépművészeti</option>
                        <option *ngIf="kiallitas === true" value="Állat">Állat</option>

                        <option *ngIf="cirkusz === true" value="Állatcirkusz">Állatcirkusz</option>
                        <option *ngIf="cirkusz === true" value="Akrobatikuscirkusz">Akrobatikus cirkusz</option>
                        <option *ngIf="cirkusz === true" value="Hagyományos">Hagyományos</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Esemény leírása:</label>
                    <textarea class="form-control" rows="5" id="description" ngModel name="description" required></textarea>
                </div>
                <!-- <p *ngIf="!eventInfo.valid">Event input is invalid!</p>  -->
            </div>

            <div id="event-location" ngModelGroup="eventLocation" #eventLocation="ngModelGroup">
                <div class="form-group">
                    <label for="town">Város:</label>
                    <select class="form-control" id="town" [ngModel]="defaultTown" name="town" required>
                    <option value="Budapest">Budapest</option>
                    <option value="Debrecen">Debrecen</option>
                    <option value="Eger">Eger</option>
                    <option value="Miskolc">Miskolc</option>
                    <option value="Szeged">Szeged</option>
                    <option value="Győr">Győr</option>
                </select>
                </div>

                <div class="form-group">
                    <label for="eventAdress">Esemény helye:</label>
                    <input type="text" class="form-control" id="eventAdress" ngModel name="eventAdress" required>
                </div>

                <div>
                    <label for="eventTime">Esemény időpontja:</label>
                    <span style="padding-left: 20px"></span>
                    <input type="datetime-local" id="eventTime" name="eventTime" min="2017-06-01T08:30" max="2017-06-30T16:30" ngModel name="eventTime"
                        required>
                </div>

            </div>

            <div id="ticket-info" ngModelGroup="ticketInfo" #ticketInfo="ngModelGroup">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="ticketType">Jegy típus:</label>
                            <input type="text" class="form-control" id="ticketType" ngModel name="ticketType" required>
                            <div [ngSwitch]="requiredRow">
                                <input *ngSwitchCase="2" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                                <input *ngSwitchCase="3" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                                <input *ngSwitchCase="3" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketType4" ngModel name="ticketType4" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType2" ngModel name="ticketType2" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType3" ngModel name="ticketType3" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType4" ngModel name="ticketType4" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketType5" ngModel name="ticketType5" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="ticketPrice">Jegy ár:</label>
                            <input type="text" class="form-control" id="ticketPrice" ngModel name="ticketPrice" required>
                            <div [ngSwitch]="requiredRow">
                                <input *ngSwitchCase="2" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                                <input *ngSwitchCase="3" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                                <input *ngSwitchCase="3" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                                <input *ngSwitchCase="4" type="text" class="form-control" id="ticketPrice4" ngModel name="ticketPrice4" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice2" ngModel name="ticketPrice2" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice3" ngModel name="ticketPrice3" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice4" ngModel name="ticketPrice4" required>
                                <input *ngSwitchCase="5" type="text" class="form-control" id="ticketPrice5" ngModel name="ticketPrice5" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                 <button class="btn btn-success" type="submit" [disabled]="!f.valid">Rendben</button>
                </div>
            </div>
        </form>
        <div style="padding-left: 100px">
        <button class="btn btn-warning" (click) = "clickMegsem()">Mégsem</button>
        </div>
    </div>
 

    <!-- <div style="padding-top: 750px; padding-left: 50px"> -->
        <!-- <button class="btn btn-warning" (click) = "clickMegsem()">Mégsem</button> -->
    <!-- </div> -->

    <div class="col-sm-2">
        <div style="padding-top: 576px; padding-left: 50px">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Jegytipus(db) <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li (click)="onPlusRow(1)"><a>1</a></li>
                    <li (click)="onPlusRow(2)"><a>2</a></li>
                    <li (click)="onPlusRow(3)"><a>3</a></li>
                    <li (click)="onPlusRow(4)"><a>4</a></li>
                    <li (click)="onPlusRow(5)"><a>5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
