<!-- <div class="col-sm-2">
  <div class="list-group" >
    <div class="list-group-item" style="max-width:250px;max-height: 300px;min-height: 100px;min-width: 150px">
      <p class="list-group-item-text" style="width: 105%;height: 20px;overflow: hidden;"><strong>Szektor:{{eventTicket.sector}}</strong></p>
      <p class="list-group-item-text" style="width: 105%;height: 20px;overflow: hidden;"><strong>Sor:{{eventTicket.row}}</strong></p>
      <p class="list-group-item-text" style="width: 105%;height: 20px;overflow: hidden;"><strong>Szék:{{eventTicket.chair}}</strong></p>
      <p class="list-group-item-text" style="width: 105%;height: 20px;overflow: hidden;"><strong>Ár:{{eventTicket.price}}</strong></p>
    </div>
  </div>
</div> -->

<div class="col-sm-12">
    <!-- <div class="list-group">
        <div class="list-group-item" style="max-width:550px;max-height: 300px;min-height: 30px;min-width: 550px;">
        <p class="list-group-item-text" style="width: 105%;overflow: hidden;"><strong>Szektor: {{eventTicket.sector}}</strong> <strong>Sor: {{eventTicket.row}}</strong> <strong>Szék: {{eventTicket.chair}}</strong> <strong>Ár: {{eventTicket.price}}</strong></p>
        </div>
    </div> -->
    <div style="width: 600px; padding:2px">
        <p class="list-group-item-text" style="width: 105%;overflow: hidden;border-style: ridge;padding:5px"><strong>Szektor: {{eventTicket.sector}}</strong> <strong>Sor: {{eventTicket.row}}</strong> <strong>Szék: {{eventTicket.chair}}</strong> <strong>Ár: {{eventTicket.price}}</strong></p>        
    </div>
    
</div>