<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <a href="#szinhaz" data-toggle="collapse" style="font-size: 15px">&#9654; Színház</a>
                <div class="pull-right">Események(db)</div>
                <div id="szinhaz" class="collapse">
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="theatreVigszinhaz" (change)="theatreVigszinhaz = !theatreVigszinhaz">Vígszínház</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="theatreOpera" (change)="theatreOpera = !theatreOpera">Opera</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="theatreMusical" (change)="theatreMusical = !theatreMusical">Musical</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="theatreDrama" (change)="theatreDrama = !theatreDrama">Dráma</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="theatreBalett" (change)="theatreBalett = !theatreBalett">Balett</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="#koncert" data-toggle="collapse" style="font-size: 15px">&#9654; Koncert</a>
                <div class="pull-right">Események(db)</div>
                <div id="koncert" class="collapse">
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="concertPop" (change)="concertPop = !concertPop">Pop</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="concertRock" (change)="concertRock = !concertRock">Rock</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="concertHiphop" (change)="concertHiphop = !concertHiphop">Hip-Hop</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="concertKomoly" (change)="concertKomoly = !concertKomoly">Komoly</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="concertElektro" (change)="concertElektro = !concertElektro">Elektro</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <a href="#mozi" data-toggle="collapse" style="font-size: 15px">&#9654; Mozi</a>
                <div class="pull-right">Események(db)</div>
                <div id="mozi" class="collapse">
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaVigjatek" (change)="cinemaVigjatek = !cinemaVigjatek"> Vígjáték</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaAkcio" (change)="cinemaAkcio = !cinemaAkcio">Akció</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaAnimacio" (change)="cinemaAnimacio = !cinemaAnimacio">Animáció</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaHorror" (change)="cinemaHorror = !cinemaHorror">Horror</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaRomantikus" (change)="cinemaRomantikus = !cinemaRomantikus">Romantikus</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="cinemaKrimi" (change)="cinemaKrimi = !cinemaKrimi">Krimi</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <a href="#kiallitas" data-toggle="collapse" style="font-size: 15px">&#9654; Kiállítás</a>
                <div class="pull-right">Események(db)</div>
                <div id="kiallitas" class="collapse">
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="exhibitionTortenelmi" (change)="exhibitionTortenelmi = !exhibitionTortenelmi">Történelmi</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="exhibitionSzepmuveszeti" (change)="exhibitionSzepmuveszeti = !exhibitionSzepmuveszeti">Szépművészeti</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="exhibitionAllat" (change)="exhibitionAllat = !exhibitionAllat">Állat</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <a href="#cirkusz" data-toggle="collapse" style="font-size: 15px">&#9654; Cirkusz</a>
                <div class="pull-right">Események(db)</div>
                <div id="cirkusz" class="collapse">
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="circusAllatcirkusz" (change)="circusAllatcirkusz = !circusAllatcirkusz">Állatcirkusz</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="circusAkrobatikusCirkusz" (change)="circusAkrobatikusCirkusz = !circusAkrobatikusCirkusz">Akrobatikus cirkusz</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="circusHagyomanyos" (change)="circusHagyomanyos = !circusHagyomanyos">Hagyományos</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <a href="#varos" data-toggle="collapse" style="font-size: 15px">&#9654; Város</a>
                <div id="varos" class="collapse" #varos>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="townBudapest" (change)="townBudapest = !townBudapest" />Budapest</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="townDebrecen" (change)="townDebrecen = !townDebrecen" />Debrecen</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="townGyor" (change)="townGyor = !townGyor" />Győr</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="townMiskolc" (change)="townMiskolc = !townMiskolc" />Miskolc</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" [checked]="townSzeged" (change)="townSzeged = !townSzeged" />Szeged</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="search()">Keresés</button>
        </div>
        <!-- <div class="col-sm-8">
            <div class="col-sm-3" *ngFor="let event of searchedItems">
                <div class="list-group">
                    <a class="list-group-item">
                        <div class="thumbnail">
                            <img src="{{event.imagePath}}" alt="valami" class="list-group-item-heading" style="max-width: 100%;max-height: 100%;height:150px;width: 250px ">
                        </div>
                        <p class="list-group-item-text"><strong>{{event.title}}</strong></p>
                        <p class="list-group-item-text" style="width: 105%;height: 70px; overflow: hidden;">{{event.description}}</p>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="col-sm-9">
            <div *ngFor="let event of searchedItems">
                <app-event-item
                    [eventItem]="event"
                    [index]="event.eventIndex"
                    (click)="onSelectedItem(event.eventIndex)"
                    (click)="onThreeSelectedItem(event.eventIndex)"
                    [routerLink]="['/eventinformation',event.eventIndex]"
                >
                </app-event-item>
            </div>
        </div> 
    </div>
</div>


