<div class="container-fluid">
  <div class="col-sm-12" style="text-align: center">
      <button type="button" class="btn">Részletes kereső</button>
  </div>
</div>

<br>
<br>

<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <a href="#szinhaz" data-toggle="collapse" style="font-size: 15px">&#9654; Színház</a>
          <div class="pull-right">Események(db)</div>
          <div id="szinhaz" class="collapse">
              <div class="checkbox">
                  <label><input type="checkbox">Vígjáték</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Opera</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Musical</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Balett</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Néptánc</label>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <a href="#koncert" data-toggle="collapse" style="font-size: 15px">&#9654; Koncert</a>
          <div class="pull-right">Események(db)</div>
          <div id="koncert" class="collapse">
              <div class="checkbox">
                  <label><input type="checkbox">Klasszikus</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Opera</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Jazz</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Pop</label>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox">Hip-Hop</label>
              </div>
          </div>
      </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <p>VÁROS</p>
          <div class="checkbox">
              <label><input type="checkbox">Budapest</label>
          </div>
          <div class="checkbox">
              <label><input type="checkbox">Debrecen</label>
          </div>
          <div class="checkbox">
              <label><input type="checkbox">Győr</label>
          </div>
          <div class="checkbox">
              <label><input type="checkbox">Miskolc</label>
          </div>
          <div class="checkbox">
              <label><input type="checkbox">Szeged</label>
          </div>
      </div>
  </div>
</div> -->