<!-- <div class="row">
    <div class="col-xs-12">
      <app-event-item
        *ngFor="let event of events"
        [eventItem]="event"
        [index]="event.eventIndex"
        (click)="onSelectedItem(event.eventIndex)"
        (click)="onThreeSelectedItem(event.eventIndex)"
        [routerLink]="['/eventinformation',event.eventIndex]"
      >
      </app-event-item>
    </div>
</div>  -->

<div class="row">
    <div class="col-xs-12">
      <div *ngFor="let event of events;let i=index">
          <app-event-item
          [eventItem]="event"
          [index]="event.eventIndex"
          (click)="onSelectedItem(event.eventIndex)"
          (click)="onThreeSelectedItem(event.eventIndex)"
          [routerLink]="['/eventinformation',event.eventIndex]"
          *ngIf="i<numOfEvents"
        >
        </app-event-item>
      </div>
    </div>
</div> 