<div class="container-fluid">
    <div class="col-sm-4">
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userFirstName">Vezetéknév:</label>
                        <input type="text" class="form-control" id="userFirstName" ngModel name="userFirstName" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userLastName">Keresztnév:</label>
                        <input type="text" class="form-control" id="userLastName" ngModel name="userLastName" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userLoginName">Felhasználónév:</label>
                        <input type="text" class="form-control" id="userLoginName" ngModel name="userLoginName" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userPassword">Jelszó:</label>
                        <input type="password" class="form-control" id="userPassword" ngModel name="userPassword" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input type="text" class="form-control" id="userEmail" ngModel name="userEmail" required email>
            </div>

            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Regisztráció</button>
            <button class="btn btn-warning">Mégsem</button>
        </div>

    </form>
</div>